@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.3.2/build/styles/default.min.css');
// @import url('https://jmblog.github.io/color-themes-for-highlightjs/css/themes/tomorrow.css');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;

  &:before {
    content: '';
    content: "";
    width: 100%;
    height: 100vh;
    //background: linear-gradient(to right bottom, #6d327c, #485DA6, #00a1ba, #01b18e, #32b37b);
    // background: #D3D3D3;
    background-image: url("../public/bg.jpg");
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.text-shadow {
  text-shadow: 0px 2px 0px rgb(0 0 0 / 30%);
}

.adjacent-post {
  & .arrow-btn {
    transition: width 300ms ease;
    width: 50px;
  }

  &:hover {
    & .arrow-btn {
      width: 60px;
    }
  }
}

.react-multi-carousel-list {
  & .arrow-btn {
    transition: width 300ms ease;
    width: 50px;

    &:hover {
      width: 60px;
    }
  }

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@keyframes aitf {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}


@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}



#hh {
  // text-transform: uppercase;
  font-family: 'Permanent Marker', cursive;
  // border: 4px double rgba(255, 255, 255, .25);
  // border-width: 4px 0;

  // font: 700 "Oswald", sans-serif;
  letter-spacing: 2px;
  // padding: .25em 0 .325em;
  // display: block;
  // margin: 0 auto;
  text-shadow: 0 0 80px rgba(255, 255, 255, .5);

  // -webkit-animation: aitf 80s linear infinite;

  /* Activate hardware acceleration for smoother animations */

  // -webkit-transform: translate3d(0, 0, 0);
  // transform: translate3d(0, 0, 0);
  // -webkit-backface-visibility: hidden;
  // backface-visibility: hidden;
  background-size: 300% 300%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  background-color: #FE5A59;
  background-image: linear-gradient(45deg, #ffffff 40%, #FB408F 60%, #FAE937 75%, #ffffff 100%);
  ;
  -webkit-animation: gradient 4s ease both infinite;
  animation: gradient 4s ease both infinite;

}

.post-styles_post {
  overflow-wrap: normal;
  word-break: normal;
  font-size: .875rem;
  line-height: 1.25rem;
  line-height: 1.625
}

@media (min-width: 768px) {
  .post-styles_post {
    font-size: 1rem;
    line-height: 1.5rem
  }
}

@media (min-width: 1024px) {
  .post-styles_post {
    font-size: 1.125rem;
    line-height: 1.75rem
  }
}

.post-styles_post blockquote,
.post-styles_post ol,
.post-styles_post p,
.post-styles_post ul {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: .875rem;
  line-height: 1.25rem
}

@media (min-width: 768px) {

  .post-styles_post blockquote,
  .post-styles_post ol,
  .post-styles_post p,
  .post-styles_post ul {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 1rem;
    line-height: 1.5rem
  }
}

@media (min-width: 1024px) {

  .post-styles_post blockquote,
  .post-styles_post ol,
  .post-styles_post p,
  .post-styles_post ul {
    font-size: 1.125rem;
    line-height: 1.75rem
  }
}

.post-styles_post h1 {
  margin-bottom: 1rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
  line-height: 1.375
}

@media (min-width: 768px) {
  .post-styles_post h1 {
    margin-top: 3rem;
    font-size: 1.875rem;
    line-height: 2.25rem
  }
}

.post-styles_post h2 {
  margin-bottom: 1rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
  line-height: 1.375
}

@media (min-width: 768px) {
  .post-styles_post h2 {
    margin-top: 3rem;
    font-size: 1.5rem;
    line-height: 2rem
  }
}

.post-styles_post h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  line-height: 1.375
}

@media (min-width: 768px) {
  .post-styles_post h3 {
    font-size: 1.25rem;
    line-height: 1.75rem
  }
}

.post-styles_post blockquote {
  border-left-width: 4px;
  --tw-border-opacity: 1;
  border-color: rgba(156, 163, 175, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(229, 231, 235, var(--tw-bg-opacity));
  padding-left: 1rem;
  font-size: .75rem;
  line-height: 1rem
}

@media (min-width: 640px) {
  .post-styles_post blockquote {
    padding-top: .125rem;
    padding-bottom: .125rem
  }
}

@media (min-width: 768px) {
  .post-styles_post blockquote {
    font-size: .875rem;
    line-height: 1.25rem
  }
}

@media (min-width: 1024px) {
  .post-styles_post blockquote {
    font-size: 1.125rem;
    line-height: 1.75rem
  }
}

.post-styles_post pre {
  margin-bottom: 1rem;
  border-radius: .375rem;
  --tw-bg-opacity: 1;
  background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
  padding: 1rem;
  font-size: .75rem;
  line-height: 1rem;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity))
}

@media (min-width: 768px) {
  .post-styles_post pre {
    font-size: 1rem;
    line-height: 1.5rem
  }
}

.post-styles_post pre {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word
}

.post-styles_post a {
  --tw-text-opacity: 1;
  color: rgba(37, 99, 235, var(--tw-text-opacity));
  text-decoration: underline;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s;
  transition-duration: .3s
}

.post-styles_post a:visited {
  --tw-text-opacity: 1;
  color: rgba(5, 150, 105, var(--tw-text-opacity))
}

.post-styles_post a:hover {
  --tw-text-opacity: 1;
  color: rgba(219, 39, 119, var(--tw-text-opacity))
}

.post-styles_post ul {
  list-style-type: disc;
  padding-left: 1rem
}

.post-styles_post ol {
  list-style-type: decimal;
  padding-left: 1rem
}

.post-styles_otroBlockquote {
  position: relative;
  padding: 1.5rem 2.5rem;
  font-size: .75rem;
  line-height: 1rem
}

@media (min-width: 640px) {
  .post-styles_otroBlockquote {
    font-size: 1rem;
    line-height: 1.5rem
  }
}

.post-styles_otroBlockquote {
  font-size: 1em;
  width: 90%;
  margin: 10px auto;
  font-style: normal;
  color: #555;
  border-left: 8px solid #78c0a8;
  line-height: 1.24;
  background: #ededed
}

.post-styles_otroBlockquote:before {
  content: "\201C";
  color: #78c0a8;
  font-size: 4em;
  position: absolute;
  left: 10px;
  top: -10px
}

.post-styles_otroBlockquote:after {
  content: ""
}

.post-styles_otroBlockquote span {
  margin-top: 1rem;
  display: block;
  font-size: .75rem;
  line-height: 1rem;
  font-weight: 600
}

@media (min-width: 640px) {
  .post-styles_otroBlockquote span {
    font-size: 1rem;
    line-height: 1.5rem
  }
}

.post-styles_otroBlockquote span {
  color: #333;
  font-style: normal
}

.post-styles_ribbon,
.post-styles_ribbonRed {
  width: 150px;
  height: 150px;
  position: absolute;
  top: -10px;
  right: -10px;
  overflow: hidden
}

.post-styles_ribbon:after,
.post-styles_ribbon:before,
.post-styles_ribbonRed:after,
.post-styles_ribbonRed:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #313131;
  z-index: -1
}

.post-styles_ribbon:after,
.post-styles_ribbonRed:after {
  bottom: 0;
  right: 0
}

.post-styles_ribbon span,
.post-styles_ribbonRed span {
  --tw-bg-opacity: 1;
  background-color: rgba(73, 255, 0, var(--tw-bg-opacity));
  font-weight: 700;
  position: absolute;
  width: 220px;
  height: 40px;
  transform: rotate(45deg);
  top: 40px;
  left: -22px;
  text-align: center;
  line-height: 40px
}

.post-styles_ribbonRed span {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 0, 0, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity))
}

.post-styles_searchBox {
  position: absolute;
  top: -2rem;
  left: 50%;
  display: flex;
  --tw-translate-x: -50%;
  --tw-translate-y: -50%;
  transform: var(--tw-transform);
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  padding-left: .25rem;
  padding-right: .25rem
}

@media (min-width: 640px) {
  .post-styles_searchBox {
    padding-left: .5rem;
    padding-right: .5rem;
    padding-top: .25rem;
    padding-bottom: .25rem
  }
}

@media (min-width: 768px) {
  .post-styles_searchBox {
    top: -2.5rem
  }
}

.post-styles_searchBox {
  color: #000;
  z-index: 2;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .2)
}

.post-styles_searchInput:not(:placeholder-shown),
.post-styles_searchBox:hover>.post-styles_searchInput {
  width: 270px;
  margin-left: .625rem
}

.post-styles_searchButton {
  height: 2rem;
  width: 2rem;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s
}

.post-styles_searchButton:active {
  --tw-scale-x: .75;
  --tw-scale-y: .75;
  transform: var(--tw-transform)
}

@media (min-width: 640px) {
  .post-styles_searchButton {
    height: 2.25rem;
    width: 2.25rem
  }
}

.post-styles_searchButton {
  color: #fff;
  float: right;
  border-radius: 50%;
  background: #2f3640;
  transition: .4s;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .2)
}

.post-styles_searchInput {
  border-style: none;
  --tw-text-opacity: 1;
  color: rgba(0, 0, 0, var(--tw-text-opacity));
  outline: 2px solid transparent;
  outline-offset: 2px;
  background: none;
  float: left;
  padding: 0;
  color: #000;
  font-size: 16px;
  transition: .3s;
  line-height: 40px;
  width: 0
}

.post-styles_searchInput::-moz-placeholder {
  color: #000
}

.post-styles_searchInput:-ms-input-placeholder {
  color: #000
}

.post-styles_searchInput::placeholder {
  color: #000
}

@media screen and (max-width: 620px) {
  .post-styles_searchBox:hover>.post-styles_searchInput {
    width: 260px;
    padding: 0 6px;
    margin-left: .25rem
  }
}